{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center"><u>Edit</u></h3>
    <br />
    <label for="name">Enter New Computer Name </label>
    <input
    type="new_name"
    class="form-control"
    id="new_name"
    name="new_name"
    placeholder=" "
    />
    <label for="serial">Enter New Serial Number </label>
    <input
    type="new_serial"
    class="form-control"
    id="new_serial"
    name="new_serial"
    placeholder=" "
    />

    <label for="location">Enter New Location</label>
    <input
    type="new_location"
    class="form-control"
    id="new_location"
    name="new_location"
    placeholder=" "
    />

    <label for="location">Enter New User Name</label>
    <input
    type="new_name"
    class="form-control"
    id="new_user"
    name="new_user"
    placeholder=" "
    />
    <br />

    <select name="model" id="model">
        <option value="empty"> Enter New Model</option>
        <option value="Windows">Windows </option>
        <option value="MacBook">MacBook</option>
        <option value="Dell">Dell</option>
    </select>

    <br />

    <br />
    <select name="active" id="active">
        <option value="empty"> Enter current Activity </option>
        <option value="True">True </option>
        <option value="False">False</option>
    </select>
  

    <br />
    <br />
    <a href="/search">
        <input type = "button" value = "Cancel" class="btn btn-primary">
    </a>
    
    <button type="submit" class="btn btn-primary">Submit Changes</button>

    
</form>

{% endblock %}