{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center"><u>Edit</u></h3>
    <br />
    <label for="name">Enter The New Name For This Computer</label>
    <input
    type="new_name"
    class="form-control"
    id="new_name"
    name="new_name"
    placeholder=" "
    />
    <label for="serial">Enter The New Serial Number For This Computer</label>
    <input
    type="new_serial"
    class="form-control"
    id="new_serial"
    name="new_serial"
    placeholder=" "
    />

    <label for="location">Enter The New Location For This Computer</label>
    <input
    type="new_location"
    class="form-control"
    id="new_location"
    name="new_location"
    placeholder=" "
    />

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>

    
</form>

{% endblock %}