	<!DOCTYPE html>
	<html>
	  <head>
	    <title>Wikitechy HTML5 popup window</title>
	    <base href="../try-it/">
	    <link rel="stylesheet" type="text/css" href="popup.css">
	  </head>
	  <body>
	    <h2>HTML5 Popup window</h2>
        <a href="popup.html#openPopup">Open Popup</a>
        <div id="openPopup" class="myPopup">
          <div>
            <a href="popup.html#close" title="Close" class="close">X</a>
        	<h2>POPUP WINDOW</h2>
        	<p>Hello!</p>
        	<p>Welcome to Wikitechy this is a popup window created using HTML and CSS</p>
          </div>
        </div> 
	  </body>
	</html>
