{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center"><u>Search</u></h3>
    <div class="form-group">
    <label for="serial">Enter The Serial Number of the Computer you wish to edit</label>
    <input
        type="name"
        class="form-control"
        id="serial"
        name="serial"
        placeholder=""
    />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <br />
    <h3 align="center" ><u>Results</u></h3>
    <br />

    {if visible == true}
        <label for="name">Enter The New Name For This Computer</label>
        <input
        type="name"
        class="form-control"
        id="name"
        name="name"
        placeholder=" "
        />
        </div>

        <label for="serial">Enter The New Serial Number For This Computer</label>
        <input
        type="serial"
        class="form-control"
        id="serial"
        name="serial"
        placeholder=" "
        />
        </div>

        <label for="location">Enter The New Location For This Computer</label>
        <input
        type="location"
        class="form-control"
        id="location"
        name="location"
        placeholder=" "
        />
        </div>
    {endif}



</form>


  
{% endblock %}