{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <form method="POST">
    <h3 align="center"><u>Add New Computer</u></h3>
    
    <div class="form-group">
      <label for="email">Enter Computer Name</label>
      <input
      type="name"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter Computer Name"
      />
    </div>
  
    <div class="form-group">
      <label for="email">Enter Computer Serial Number</label>
      <input
      type="serial"
      class="form-control"
      id="serial"
      name="serial"
      placeholder="Enter Computer Serial Number"
      />
    </div>
    
    <div class="form-group">
      <label for="email">Enter Computer Location</label>
      <input
      type="location"
      class="form-control"
      id="location"
      name="location"
      placeholder="Enter Computer Location"
      />
    </div>

    <label for="model">Select Computer Model</label>
    <br />
    <select name="model" id="model">
      <option value="empty"> </option>
      <option value="Windows">Windows </option>
      <option value="MacBook">MacBook</option>
      <option value="Dell">Dell</option>
    </select>

    <br />
    <br />
    <button type="submit" class="btn btn-primary"> Submit </button>
  </form>
  {% endblock %}
  