{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block content %}


<form method="POST">
  
    <h3 align="center" id="title"><u>Search</u></h3>
    <div class="form-group">
      <input
        type="name"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter Computer Name"
      />
    </div>

    <h3 align="center" id="title"><u>Filter</u></h3>
    
    <br />
    <div align="center">
      <select name="model" id="model">
        <option value="">By Model</option>
        {% for m in models %}      
        <option value="{{m}}">{{m}}</option>
        {%endfor%}
      </select>
  
      <select name="location" id="location">
        <option value="" selected>By Location</option>
        {% for L in locations %}      
        <option value="{{L}}">{{L}}</option>
        {%endfor%}
      </select>
  
      <select name="active" id="active">
        <option value="">Is Active</option>
        <option value="True">True</option>
        <option value="False">False</option>
      </select>
  
      <select name="user" id="user">
        <option value="" selected>By User</option>
        {% for u in users %}      
        <option value="{{u}}">{{u}}</option>
        {%endfor%}
      </select>
      <br />
      <br />

      <button type="submit" class="btn btn-primary">Search</button>
      <br />
      
    </div>
    
    <br />
    <h3 align = "center" id="title"><u>Results</u></h3>
    <br />
  
    <table border=" 1px solid">
      <tr align = "center">
          <th style ="width: 20%"><u>Name</u></th>
          <th style ="width: 20%"><u>Serial Number</u></th>
          <th style ="width: 20%"><u>Location</u></th>
          <th style ="width: 20%"><u>Is Active</u></th>
          <th style ="width: 20%"><u>Model</u></th>
          <th style ="width: 20%"><u>User Name</u></th>
          
      </tr>
      {% for c in computers %}
      <tr align = "center">
        <td> {{c.name}} </td>
        <td> {{c.serial}} </td>
        <td> {{c.location}} </td>
        <td> {{c.is_active}} </td>
        <td> {{c.model}} </td>
        <td> {{c.user_name}} </td>
  
  
  
        {%if user.is_admin %}
    
          <td>
            <a href="/delete_confirm/{{c.serial}}">
                <input type = "button" value = "Delete" class="btn btn-primary">
            </a> 
          </td>
  
        <td>
          <a href="/computer_edit/{{c.serial}}">
              <input type = "button" value = "Edit" class="btn btn-primary">
          </a> 
        </td>
        {%endif%}  
      </tr>
      {%endfor%}
    </table>
        
</form>

{% endblock %}

