{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <h3 align="center"><u>Confirmation</u></h3>
    <div align="center">
        <p>Please confirm that the data shown below is the data you entered</p>
        <p>Email : {{email}}</p>
        <p>Name : {{name}}</p>
        <p>Password : {{password}}</p>
        <a href="/sign_up_confirm/true/{{email}}/{{name}}/{{password}}">
            <input type = "button" value = "Correct">
        </a> 
        <a href="/sign_up_confirm/false/{{email}}/{{name}}/{{password}}">
            <input type = "button" value = "Incorrect">
        </a> 
    </div>
    
    
    {% endblock %}