{% extends "base.html" %}
{% block title %}Edit Settings{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center"><u>Edit Settings</u></h3>
    <br />
    <label for="name">Enter Your Name</label>
    <input
    type="new_name"
    class="form-control"
    id="new_name"
    name="new_name"
    placeholder=" "
    />
    <label for="serial">Enter Your Email</label>
    <input
    type="new_email"
    class="form-control"
    id="new_email"
    name="new_email"
    placeholder=" "
    />


    <br />
    <button type="submit" class="btn btn-primary">Submit</button>

    
</form>

{% endblock %}